.container{
    width:700px;
    height: 1500px;
    box-shadow: 4px 5px 10px black;
    background-color: aquamarine;
    margin: 0 auto;
    text-align: center;
}

h1{
   color: black;
   font-size: 1.7rem;

}

input{
    width: 90%;
    padding: 10px;
    margin-top:7px;


}
.btn{
    width: 90%;
    color: aliceblue;
    background-color: blueviolet;
    font-size:1.5rem;
    padding: 10px;
    cursor: pointer;
}
.read{
    width: 90%;
        color: aliceblue;
        background-color: rgb(43, 144, 226);
        font-size: 1.5rem;
        padding: 10px;
        cursor: pointer;
}

table{
    width: 100%;

}
table,th,td{
    padding: 10px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}
#del{
    background-color: tomato;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
}
